/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0px;
    font-size: 22px;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.bold {
    font-size: 18px;
    font-weight: bold;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* NAV */

button {
    border-style: none;
    background-color: transparent;
}

.entete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.navlogo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    width: 61.09px;
}

.menu {

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 68px;
}

.menuhover {
    margin-top: 0;
    padding-top: 13px;
    border-top: 2px transparent solid;
    font-size: 16px;
}

.menuhover:hover {
    padding-top: 13px;
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

/*main body*/
.mainbody {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* Header */

h1 {
    font-size: 22px;
    margin-top: 0;
}

.titreEntete {
    line-height: 1;
    margin-bottom: -10px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
    width: fit-content;
}

.fa-location-dot {
    padding: 10px;
    color: black;
    margin: 0px 7.5px;
    background-color: #F2F2F2;
    font-size: 18px;
}

.search input {
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
    border: 1px solid #F2F2F2;
    outline: none;
    height: 49px;
}


.searchbutton {
    background-color: #0065FC;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 14px 16px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.headerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.searchbuttonmobile {
    display: none;
}

.buttonfilter a {
    display: flex;
}

.buttonfilter {
    display: flex;
}

.buttonfilter button {
    display: flex;
    gap: 7px;
    text-align: center;
    border: 2px #D9D9D9 solid;
    padding: 8px 19px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    align-items: center;
}

.buttonfilter button i {
    font-size: 20px;
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.divsubmit {
    display: flex;
    gap: 20px;
}


.buttonfilter p {
    margin-right: 15px;
}

.buttonfilter button:hover {
    background-color: #DEEBFF;
}

.buttonfilter button:active {
    transform: scale(0.97);
}

.infomain {
    display: flex;
    gap: 10px;
    align-items: center;
    max-height: 30px;
}

.info {
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0;
}

.info i {
    font-size: 10.5px;
}

.info p {
    display: flex;
    margin: 0;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
    gap: 30px;
}

.hebergements a .a-cards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 30%;
}


.hebergements-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.card-txt {
    gap: 1px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
}

.card-image {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements .card-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: flex-start;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.hebergements-cards .card-rating {

    font-size: 18px;
    letter-spacing: -1px;
    margin-bottom: 8px;
}

.a-show-more {
    max-width: 110px;
    height: 0;
    display: block;
}

.show-more {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    letter-spacing: -1.5px;
}

/***** Activity in Marseille *****/
.activitemarseille {
    margin: 0px 30px 30px 30px;
}

.activitemarseille h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.activity {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.activity .card-content {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px 19px 20px 19px;
    height: 20px;
}

.activity .card {
    padding: 0;
    overflow: hidden;
    flex-direction: column;
}

.activity img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity .card-title {
    margin: 0;
}

/** footer **/

footer {
    background-color: #F2F2F2;
}

footer .footersection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .footersection h4 {
    font-size: 18px;
}

.footer-column {

    margin-left: 20px;
    margin-top: -4px;
    margin-bottom: 5px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
    gap: 15px;
    margin-top: -9px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1438px) */
@media (max-width: 1438px) {
    .show-more {
        margin-top: 0;
    }

    .a-show-more {
        height: 20px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*filtres*/

    .buttonfilter {
        flex-direction: column;
    }

    .buttonfilter p {
        margin-top: 0;
    }

    /*hebergement*/

    .hebergements-and-populaires {
        flex-direction: column;
    }


    .hebergements {
        width: 100%;
    }

    .a-show-more {
        height: 20px;
    }

    .show-more {
        margin-top: 0;
    }

    /*populaire*/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /*activity marseille */

    .activitemarseille .card {
        max-height: 270px;
    }

    .activity .card-content {
        height: 70px;
        padding: 0px 0px 0px 20px;
    }

    .activity img {
        height: 200px;
    }

    .activity .card-title {
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* NAVIGATION MOBILE */
    .mainbody {
        gap: 0px;
    }

    .main-container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    /*nav*/

    .entete {
        flex-direction: column;
        align-items: center;
    }

    .navlogo {
        margin: 30px 0 20px;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .menuhover {
        width: 50%;
        text-align: center;
        padding-bottom: 15px;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
    }

    .menuhover:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
        padding-bottom: 15px;
    }

    /* header */
    .sectionmobile {
        margin-left: 20px;
        margin-right: 20px;
    }

    header h1 {
        text-align: left;
        text-wrap: inherit;
    }

    section .search {
        max-width: 45%;
        overflow: visible;
        max-height: 49px;
    }

    section .search .searchbutton {
        display: none;
    }

    section .search .searchbuttonmobile {
        display: flex;
        position: relative;
        left: -12px;
        background-color: #0065FC;
        font-size: 18px;
        font-weight: bold;
        color: white;
        padding: 15.5px 15.5px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: visible;
        z-index: 2;
        cursor: pointer;
    }

    section .search .searchbuttonmobile i {
        color: white;
        font-size: 18px;
    }

    .search input {
        max-width: 164%;
        position: relative;
        z-index: 1;
        max-height: 49px;

    }

    .fa-location-dot {
        margin: 0px 4%;
    }

    /*Button filters*/

    .buttonfilter {
        gap: 20px;
    }

    .buttonfilter p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .divsubmit {
        flex-wrap: wrap;
    }

    .buttonfilter button {
        justify-content: center;
        border: 2px #D9D9D9 solid;
        padding: 8px 17.5px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 14px;
        width: 46%;
    }


    /*Hebergement*/

    .hebergements .section-title {
        margin-top: -5px;
    }

    .hebergements-cards {
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 20px 20px 30px 20px;
        gap: 15px;
        margin-top: 30px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .hebergements-cards .card-title {
        font-size: 16px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: inherit;
        margin-top: -10px;
    }

    .hebergements-cards .card {

        height: 197px;
    }

    /*populaire*/

    .populaires {
        flex-direction: column;
        height: 100%;
    }

    .populaires-title {
        margin-top: 10px
    }

    .populaires-cards .card {
        height: 146px;
    }

    .populaires-cards img {
        height: 146px;
        max-width: 111.67px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 0;
    }

    .populaires-cards .card-rating {
        margin-bottom: 0;
    }

    /*hebergement*/
    .show-more {
        margin-top: 0;
    }

    /*activite*/

    .activity {

        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
    }

    .activitemarseille h2 {
        font-size: 22px;
    }

    .activitemarseille .card {
        max-width: 100%;
        max-height: 200px;
    }

    .activity img {
        height: 141px;
        width: 100%;
    }

    /*footer*/
    footer .footersection h4 {
        margin-top: 30px;
    }

    footer .footersection {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        gap: 3px;
    }
}